*, *::before, *::after{ box-sizing: border-box;}

body{
    margin: 0;
    height: 3000px;
}

.rectangle{
    position: fixed;
    width: 320px;
    height: 180px;
    bottom: 0;
    right: 0;
    background-color: gray;
}

.close-button{
    background-color: black;
    color: white;
    position: absolute;
    top: -20px;
    left: -20px;
    font-family: Arial;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timestamp{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    padding: 0.2rem 0.4rem;
    bottom: 6px;
    right: 6px;
}