body{
    height: 3000px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-weight: bold;
}

img{
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50px;
}

button{
    padding: 0.6em 1em;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.add{
    background-color: rgb(87, 143, 248);
    color: white;
}

.add:hover{
    background-color: rgb(44, 98, 199);
}

.add:active{
    background-color: rgb(12, 49, 119);;
}

.message:hover{
    background-color: rgb(221, 221, 221);
}

.message:active{
    background-color: rgb(163, 163, 163);
}

.header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.info{
    margin-left: 18px;
    display: flex;
    align-items: center;
    width: 12%;
    justify-content: space-between;
}

.buttons{
    margin-right: 18px;
}