.frieren-corner{
    width: 300px;
    border-radius: 20px;
}

.frieren-square{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.frieren-round{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 360px;
}

.search-bar{
    padding: 0.6em 0.6em 0.6em 0.6em;
    border: none;
    border: 1px solid black;
    border-radius: 4px;
}

.search-bar:focus{
    outline: none;
    border: 1px solid black;
}

.google-search{
    padding: 0.8em;
    width: 25em;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    transition: opacity 0.15s;
}

.google-search:hover{
    opacity: 0.6;
}

.google-search:focus{
    outline: none;
}

.email{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(96, 96, 96);
    font-size: 0.8em;
    margin-bottom: 8px;
}

.emailing{
    width: 305px;
    padding: 0.4em;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
}

.emailing:focus{
    outline: none;
}

.privacy-policy{
    color: rgb(96, 96, 96);
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.4em;
}

.agree-and-join{
    color: white;
    background-color: rgb(50, 64, 255);
    border: none;
    border-radius: 20px;
    padding: 0.8em 9.2em;
    transition: background-color 0.15s;
    margin-top: 0.4em;
}

.agree-and-join:hover{
    background-color: rgb(37, 49, 218);
}

.agree-and-join:active{
    background-color: rgb(29, 37, 153);
}

.frieren{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 360px;
    vertical-align: middle;
}

.sup{
    border: none;
    padding: 0.8em;
    width: 20em;
    border-radius: 20px;   
    vertical-align: middle;
}

.tweet{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    padding: 0.4em 1em;
    border-radius: 20px;
    background-color: rgb(60, 96, 255);
    cursor: pointer;
    transition: background-color 0.15s, outline 0.50s;
}

.tweet:hover{
    background-color: #b00b69;
}

.tweet:active{
    background-color: #420d1c;
    border: 1px solid #b00b69;
}